<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Charity Life</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/logo.png">

	<!-- CSS here -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/all.min.css"
    />


	<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/assets/css/slicknav.css">
    <link rel="stylesheet" href="/static/assets/css/flaticon.css">
    <link rel="stylesheet" href="/static/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/static/assets/css/gijgo.css">
    <link rel="stylesheet" href="/static/assets/css/animate.min.css">
    <link rel="stylesheet" href="/static/assets/css/animated-headline.css">
	<link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="/static/assets/css/themify-icons.css">
	<link rel="stylesheet" href="/static/assets/css/slick.css">
	<link rel="stylesheet" href="/static/assets/css/nice-select.css">
	<link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/static/images/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <ul>     
                                        <li>Phone: +91 99490 97994</li>
                                        <li>Email: abdulraheem0859@gmail.com</li>
                                    </ul>
                                    <div class="header-social">    
                                        <ul>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a  href="https://www.facebook.com/abdulraheem.mohammad.7127/"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/mohammad-abdul-raheem-553162219/"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li> <a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="{{ url_for('index')}}"><img class="logo-main" src="/static/images/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li><a class="btn" href="{{ url_for('index')}}">Home</a></li>
                                                <li><a href="#">About</a></li>
                                                <li><a href="{{ url_for('fundraisers')}}">Causes</a></li>
                                                <li><a href="{{ url_for('contact')}}">Contact</a></li>
                                                {% if not current_user.is_authenticated %}
                                                <li><a data-trigger="hover" data-toggle="popover" data-content="Please login for fundraising!!" data-placement="bottom" class="btn">New Fundraiser</a></li>
                                                <li class="main-nav"><a href="#0" class="cd-signin nav-link btn btn-sm">SignIn/Register</a></li>
                                                {% else %}
                                                <button class="nav-item btn btn-sm btn-outline-secondary ml-sm-2" type="button" data-toggle="modal" data-target="#startFundraiser"style="width:auto;">Start a fundraiser</button>
                                                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-2x"></i> </a>
                                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    <a class="dropdown-item" href="{{ url_for('MyAccount')}}">My account</button>        
                                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="{{ url_for('logout')}}">Logout</a>
                                                  </div>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- He0ader-btn -->
                                    
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- header end -->

    <!--Signup Modal-->
	<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="#0">Sign in</a></li>
				<li><a href="#0">Register</a></li>
			</ul>

			<div id="cd-login"> <!-- log in form -->
				<form class="cd-form" id="login">
					<p class="fieldset">
						<label class="image-replace cd-username" for="usrname">Username</label>
						<input class="full-width has-padding has-border" type="text" id="usrname" placeholder="Username" pattern="[A-Za-z0-9]+" required>
						<span class="cd-error-message">Error message here!</span>
					</p>
					<p class="fieldset">
						<label class="image-replace cd-password" for="pasword">Password</label>
						<input class="full-width has-padding has-border" id="pasword" type="password"  placeholder="Password" required>
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message">Error message here!</span>
					</p>
					
					<p class="fieldset">
						<button class="full-width btn btn-info" type="submit">Login</button> 
					</p>
				</form>
				
				<p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
			</div> <!-- cd-login -->

			<div id="cd-signup"> <!-- sign up form -->
				<form class="cd-form" id="sign">
					<p class="fieldset">
						<input class="full-width has-padding has-border" type="text" id="name" placeholder="Enter full Name" required>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-username" for="username">Username</label>
						<input class="full-width has-padding has-border" type="text" id="username" placeholder="Username" pattern="[A-Za-z0-9]+" title="Username should only contain letters and numbers only. e.g. john12345" required>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="email">E-mail</label>
						<input class="full-width has-padding has-border" type="email" id="email" placeholder="E-mail" required>
						<span class="cd-error-message">Error message here!</span>
					</p>
					<button style="width:auto; display: inline;" id="otpsend" class="btn btn-info">Send Otp</button>
					<!-- <br><br> -->
					<input type="text" id="otp" placeholder="Enter OTP" required><br><br>

					<p class="fieldset">
						<label class="image-replace cd-password" for="password">Password</label>
						<input class="full-width has-padding has-border" id="password" type="password"  placeholder="Password" required>
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message">Error message here!</span>
					</p>
					
					<p class="fieldset">
						<label class="image-replace cd-password" for="repeat-password">Confirm Password</label>
						<input class="full-width has-padding has-border" id="repeat-password" type="password"  placeholder="Confirm Password" required>
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding has-border" type="tel" id="phone" placeholder="Phone: 98********" pattern="[0-9]{10}" required><br><br>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="agreeterms">
						<label for="agreeterms">I agree to the <a href="#0">Terms</a></label>
					</p>

					<p class="fieldset">
						<button class="full-width has-padding btn btn-info" type="submit">Create account</button> 
					</p>
				</form>
			</div> <!-- cd-signup -->

			<div id="cd-reset-password"> <!-- reset password form -->
				<p class="cd-form-message">Lost your password? Please enter your email address. You will receive an OTP to your</p>

				<form class="cd-form" id="forgot">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">E-mail</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<button style="width:auto; display: inline;" id="forget-otpsend" class="btn btn-info">Send Otp</button>
					<input type="text" id="forget-otp" placeholder="Enter OTP">
					<button id="verify" onclick="otpVerification()" >verify</button>
					<br><br>

					<p class="fieldset forget" id="u">
						<label class="image-replace cd-username" for="forget-username">Username</label>
						<input class="full-width has-padding has-border" type="text" id="forget-username" placeholder="Username" pattern="[A-Za-z0-9]+" title="Username should only contain letters and numbers only. e.g. john12345" required>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset forget" id="p">
						<label class="image-replace cd-password" for="forget-password">Password</label>
						<input class="full-width has-padding has-border" id="forget-password" type="password"  placeholder="Password" required>
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message">Error message here!</span>
					</p>
					
					<p class="fieldset forget" id="cp">
						<label class="image-replace cd-password" for="forget-repeat-password">Confirm Password</label>
						<input class="full-width has-padding has-border" id="forget-repeat-password" type="password"  placeholder="Confirm Password" required>
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message">Error message here!</span>
					</p>
					<p class="fieldset">
						<button class="full-width has-padding btn btn-info" type="submit">Reset password</button>
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
			</div> <!-- cd-reset-password -->
			<a href="#0" class="cd-close-form">Close</a>
		</div> <!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->
   <!--***Signup Modal***-->
    <main>
    <!-- slider Area Start-->
    <div class="slider-area">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInUp" data-delay=".6s">Our Helping to<br> the world.</h1>
                                <P data-animation="fadeInUp" data-delay=".8s" >Onsectetur adipiscing elit, sed do eiusmod tempor incididunt ut bore et dolore magnt, sed do eiusmod.</P>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- Our Cases Start -->
    <div class="our-cases-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <h2>Explore our latest causes</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for n in latestFundraisers %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cases mb-40">
                        <div class="cases-img">
                            <img src= "/static/assets/img/gallery/case1.png" alt="">
                        </div>
                        <div class="cases-caption">
                            <h3><a href="#">{{ n.fundraise_name }}</a></h3>
                            <h6>{{ n.fundraise_type }}</h6>
                            <div class="single-skill mb-15">
                                <div class="bar-progress">
                                    <div id="bar1" class="barfiller">
                                        <div class="tipWrap">
                                            <span class="tip"></span>
                                        </div>
                                        <span class="fill" data-percentage="70"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="prices d-flex justify-content-between">
                                <p>Raised:<span> $20,000</span></p>
                                <p>Goal:<span> $35,000</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Our Cases End -->
    </main>
    <footer>
        <div class="footer-wrapper section-bg2" data-background="/static/assets/img/gallery/footer_bg.png">
            <!-- Footer Top-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <div class="footer-logo mb-20">
                                        <a href="index.html"><img src="/static/assets/img/logo/logo2_footer.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contact Info</h4>
                                    <ul>
                                        <li>
                                            <p>Address :Your address goes here, your demo address.</p>
                                        </li>
                                        <li><a href="#">Phone : +91 99490 97994</a></li>
                                        <li><a href="#">Email : abdulraheem0859@gmail.com</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Causes</h4>
                                    <ul>
                                        <li><a href="#">Medical crowdfunding</a></li>
                                        <li><a href="#">Education</a></li>
                                        <li><a href="#">Animal Fundraisers</a></li>
                                        <li><a href="#">Child Welfare</a></li>
                                        <li><a href="#">Creative Fundraising</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Usefull Links</h4>
                                    <ul>
                                        <li><a href="{{ url_for('index')}}">Home</a></li>
                                        <li><a href="{{ url_for('fundraisers')}}">Causes</a></li>
                                        <li><a href="{{ url_for('contact')}}">Contact Us</a></li>
                                        <li><a href="{{ url_for('index')}}">Login</a></li>
                                        <li><a href="{{ url_for('index')}}">Register</a></li>
                                    </ul>
                                </div>
                                <!-- Form -->
                                <div class="footer-form" >
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                        method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                            class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                class="email_icon newsletter-submit button-contactForm"><img src="/static/assets/img/gallery/form.png" alt=""></button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-xl-10 col-lg-9 ">
                                <div class="footer-copy-right">
                                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3">
                                <div class="footer-social f-right">
                                    <a href="https://www.linkedin.com/in/mohammad-abdul-raheem-553162219/"><i class="fab fa-linkedin-in"></i></a>
                                    <a  href="https://www.facebook.com/abdulraheem.mohammad.7127/"><i class="fab fa-facebook-f"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
    <!-- Chat Bot -->
    <img
      src="https://cdn.technologyadvice.com/wp-content/uploads/2018/02/friendly-chatbot.jpg"
      alt="chatbot avatar"
      id="chat-icon"
    />
    <div class="chat invisible" id="chat-box">
      <div class="chat-title" id="chat-title">
        <div class="chat-title-heading">
          <h1 id="chat-title-name">Ask Alex</h1>
          <em class="fa-solid fa-volume-high" id="mute-unmute"></em>
          <em class="fa-solid fa-xmark" id="close-chat-box"></em>
        </div>
        <h2>Hey! personalised lending assistant bot at your service</h2>
        <figure class="avatar">
          <img
            src="https://cdn.technologyadvice.com/wp-content/uploads/2018/02/friendly-chatbot.jpg"
            alt="chatbot avatar"
          />
        </figure>
      </div>
      <div class="messages" id="messages">
        <div class="messages-content">
          <div class="message new">
            <figure class="avatar">
              <img
                src="https://cdn.technologyadvice.com/wp-content/uploads/2018/02/friendly-chatbot.jpg"
                alt="chatbot avatar"
              />
            </figure>
            Hello, how may I help you?
          </div>
          <div class="message new">
            <div class="action">
              <div class="action__title">Try Asking:</div>
              <div class="action__list">
                <div class="action__list__item">I need a home loan.</div>
                <div class="action__list__item">Connect to HMC.</div>
                <div class="action__list__item">What is SSN number?</div>
                <div class="action__list__item">
                  What is minimum downpayment?
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="suggession"></div>
      </div>
      <form class="message-box" id="mymsg" method="POST">
        <div class="message-box-wrapper">
          <input
            type="text"
            id="MSG"
            name="MSG"
            class="message-input"
            placeholder="Type message..."
          />
          <em class="fa-solid fa-eye-slash" id="eye"></em>
          <button type="submit" class="send-message-button">
            <em class="fa-solid fa-paper-plane"></em>
          </button>
        </div>
        <em class="fas fa-microphone" id="start-record-btn"></em>
      </form>
      <div class="listening-box hide" id="listening-box">
        <div class="listening-box__title">
          <div class="listening-box__title__text">I'm listening</div>
          <div class="listening-box__title__dots">...</div>
        </div>
        <div class="listening-box__mic">
          <div class="listening-box__mic__bg">
            <em class="listening-box__mic__icon fa-solid fa-microphone"></em>
          </div>
        </div>
      </div>
      <h3 class="no-browser-support" hidden>
        Sorry, Your Browser Doesn't Support the Web Speech API. Try Opening This
        Demo In Google Chrome.
      </h3>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"
      integrity="sha256-IFHWFEbU2/+wNycDECKgjIRSirRNIDp2acEB5fvdVRU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js"
      integrity="sha256-wchL8FKrlLCYGd1eGD07YIjgeadHEEvNWmGcFrcdpUw="
      crossorigin="anonymous"
    ></script>
    <script>
      $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script
      type="text/javascript"
      src="/static/app.js"
    ></script>

    <!-- JS here -->

    <script src=".//static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src=".//static/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src=".//static/assets/js/popper.min.js"></script>
    <script src=".//static/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src=".//static/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src=".//static/assets/js/owl.carousel.min.js"></script>
    <script src=".//static/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src=".//static/assets/js/wow.min.js"></script>
    <script src=".//static/assets/js/animated.headline.js"></script>
    <script src=".//static/assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src=".//static/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src=".//static/assets/js/jquery.nice-select.min.js"></script>
    <script src=".//static/assets/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src=".//static/assets/js/jquery.barfiller.js"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src=".//static/assets/js/jquery.counterup.min.js"></script>
    <script src=".//static/assets/js/waypoints.min.js"></script>
    <script src=".//static/assets/js/jquery.countdown.min.js"></script>
    <script src=".//static/assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src=".//static/assets/js/contact.js"></script>
    <script src=".//static/assets/js/jquery.form.js"></script>
    <script src=".//static/assets/js/jquery.validate.min.js"></script>
    <script src=".//static/assets/js/mail-script.js"></script>
    <script src=".//static/assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src=".//static/assets/js/plugins.js"></script>
    <script src=".//static/assets/js/main.js"></script>
    <script src=".//static/assets/js/script.js"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();   
        });
    </script>
    </body>
</html>