
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Charity Life</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/style2.css" rel="stylesheet">
	<!-- <link rel="icon" type="image/png" href="images/logo.png"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bd4d663ab2.js" crossorigin="anonymous"></script>


    <!--<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>-->
    
  <script src="https:/www.gstatic.com/firebasejs/6.6.1/firebase-app.js"></script>
  <script src="https:/www.gstatic.com/firebasejs/6.6.1/firebase-database.js"></script>
  </head>
  <body>
    <!-- Responsive Nav Bar -->
    <nav class="navbar navbar-dark navbar-expand-lg bg-secondary bg-gradient">
        <img src="/static/images/logo.png" id="logo-charity" alt=""/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active"><a class="nav-link" href="index.html"><b><i>Home</i></b><span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="popover" title="Please login to start a fundraiser!!" data-placement="bottom" href="#">Browse Fundraisers</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fundraise for</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <p class="dropdown-item" data-trigger="hover" data-toggle="popover" data-content="Please login for fundraising!!" data-placement="bottom">Medical Treatment</p>
              <p class="dropdown-item" data-trigger="hover" data-toggle="popover" data-content="Please login for fundraising!!" data-placement="bottom">NGO/Charity</p>
              <div class="dropdown-divider"></div><p class="dropdown-item" data-trigger="hover" data-toggle="popover" data-content="Please login for fundraising!!" data-placement="bottom">Other Cause</p>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="/howitworks.html">How it works</a></li>
          <form class="form-inline ">
            <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text" size="30" onkeyup="showResult(this.value)">
            <div id="livesearch"></div>
          </form>
          <li class="nav-item"><a class="btn btn-outline-success" type="button" href="https://api.whatsapp.com/send?phone=919949097994" target="_blank"><i class="fab fa-whatsapp" style="color: green;"></i> Chat</a></li>
          <button class="nav-item btn btn-sm btn-outline-secondary ml-sm-2" type="button"  data-toggle="popover" title="Please login to start a fundraiser!!" data-placement="bottom">New fundraiser</button>
		  <li class="nav-item main-nav navstyle"><a class="cd-signin nav-link btn btn-sm" href="#0" style="width:auto;">Sign in</a></li>
		 	<!-- <li class="nav-item navstyle"><a  class="nav-link btn btn-sm" type="button" data-toggle="modal" data-target="#loginModal" style="width:auto;">login/signup</a></li> -->
        </ul>
        </div>
    </nav>
    <!--*** Responsive Nav Bar ***-->   
	<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="#0">Sign in</a></li>
				<li><a href="#0">Register</a></li>
			</ul>

			<div id="cd-login"> <!-- log in form -->
				<form class="cd-form" id="login">
					<p class="fieldset">
						<label class="image-replace cd-username" for="usrname">Username</label>
						<input class="full-width has-padding has-border" type="text" id="usrname" placeholder="Username" pattern="[A-Za-z0-9]+" required>
						<span class="cd-error-message">Error message here!</span>
					</p>
					<!-- <p class="fieldset">
						<label class="image-replace cd-email" for="signin-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p> -->

					<p class="fieldset">
						<label class="image-replace cd-password" for="pasword">Password</label>
						<input class="full-width has-padding has-border" id="pasword" type="password"  placeholder="Password" required>
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message">Error message here!</span>
					</p>
					
					<p class="fieldset">
						<button class="full-width btn btn-info" type="submit">Login</button> 
					</p>
				</form>
				
				<p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-login -->

			<div id="cd-signup"> <!-- sign up form -->
				<form class="cd-form" id="sign">
					<p class="fieldset">
						<input class="full-width has-padding has-border" type="text" id="name" placeholder="Enter full Name" required>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-username" for="username">Username</label>
						<input class="full-width has-padding has-border" type="text" id="username" placeholder="Username" pattern="[A-Za-z0-9]+" title="Username should only contain letters and numbers only. e.g. john12345" required>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="email">E-mail</label>
						<input class="full-width has-padding has-border" type="email" id="email" placeholder="E-mail" required>
						<span class="cd-error-message">Error message here!</span>
					</p>
					<button style="width:auto; display: inline;" id="otpsend" class="btn btn-info">Send Otp</button>
					<!-- <br><br> -->
					<input type="text" id="otp" placeholder="Enter OTP" required><br><br>

					<p class="fieldset">
						<label class="image-replace cd-password" for="password">Password</label>
						<input class="full-width has-padding has-border" id="password" type="password"  placeholder="Password" required>
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message">Error message here!</span>
					</p>
					
					<p class="fieldset">
						<label class="image-replace cd-password" for="repeat-password">Confirm Password</label>
						<input class="full-width has-padding has-border" id="repeat-password" type="password"  placeholder="Confirm Password" required>
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding has-border" type="tel" id="phone" placeholder="Phone: 98********" pattern="[0-9]{10}" required><br><br>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="agreeterms">
						<label for="agreeterms">I agree to the <a href="#0">Terms</a></label>
					</p>

					<p class="fieldset">
						<button class="full-width has-padding btn btn-info" type="submit">Create account</button> 
					</p>
				</form>

				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-signup -->

			<div id="cd-reset-password"> <!-- reset password form -->
				<p class="cd-form-message">Lost your password? Please enter your email address. You will receive an OTP to your</p>

				<form class="cd-form" id="forgot">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">E-mail</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<button style="width:auto; display: inline;" id="forget-otpsend" class="btn btn-info">Send Otp</button>
					<input type="text" id="forget-otp" placeholder="Enter OTP">
					<button id="verify" onclick="otpVerification()">verify</button>
					<br><br>
					


					<p class="fieldset forget" id="u">
						<label class="image-replace cd-username" for="forget-username">Username</label>
						<input class="full-width has-padding has-border" type="text" id="forget-username" placeholder="Username" pattern="[A-Za-z0-9]+" title="Username should only contain letters and numbers only. e.g. john12345" required>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset forget" id="p">
						<label class="image-replace cd-password" for="forget-password">Password</label>
						<input class="full-width has-padding has-border" id="forget-password" type="password"  placeholder="Password" required>
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message">Error message here!</span>
					</p>
					
					<p class="fieldset forget" id="cp">
						<label class="image-replace cd-password" for="forget-repeat-password">Confirm Password</label>
						<input class="full-width has-padding has-border" id="forget-repeat-password" type="password"  placeholder="Confirm Password" required>
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message">Error message here!</span>
					</p>
					<p class="fieldset">
						<button class="full-width has-padding btn btn-info" type="submit">Reset password</button>
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
			</div> <!-- cd-reset-password -->
			<a href="#0" class="cd-close-form">Close</a>
		</div> <!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->
   
	<main>
        <header>
            <!--Header Carousal-->
            <section id="carousal1">
                <div class="detailed-view-bg-container">
                    <div class="detailed-view-card-container">
                        <div id="carousel1" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel1" data-slide-to="1"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active"><img src="https://media.istockphoto.com/photos/the-concept-of-unity-cooperation-teamwork-and-charity-picture-id1290692045?b=1&k=20&m=1290692045&s=170667a&w=0&h=mjKRZccVf2DDaVN83LFmpunPjuBNrCO3kuetFCPm45g=" class="d-block w-100 " alt=""/>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h1>Together we can improve lives</h1>
                                        <h3>So Lets do it!</h3>
                                    </div>
                                </div>
                                <div class="carousel-item"><img src="https://ladyboss.com/blog/wp-content/uploads/sites/61/2019/12/blog_RelentlesslyPositiveSparkle_header.png" class="d-block w-100 " alt=""/>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h1>Because they need your help, Don't let them down</h1>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </section>
          
        <!-- *** Header Carousal *** -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/static/script.js" charset="utf-8"></script>
  </body>

