<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">  
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Charity Life</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style_beforelogin.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
	<link rel="icon" type="image/png" href="images/icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bd4d663ab2.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Responsive Nav Bar -->
    <nav class="navbar navbar-dark navbar-expand-lg bg-secondary bg-gradient">
      <a class="navbar-brand" href="#"><img src="/static/images/logo.png" id="logo-charity" alt=""/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active"><a class="nav-link" href="{{ url_for('blogs')}}"><b><i>Home</i></b><span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('browseFundraiser')}}">Browse Fundraisers</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('howitworks')}}">How it works</a></li>
        <form class="form-inline ">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn my-2 my-sm-0" type="submit"><i class="fas fa-search" style="color:ghostwhite;"></i></button>
        </form>
        <li class="nav-item"><a class="btn btn-outline-success" type="button" href="https://api.whatsapp.com/send?phone=919949097994" target="_blank"><i class="fab fa-whatsapp" style="color: green;"></i> Chat</a></li>
        <button class="nav-item btn btn-sm btn-outline-secondary ml-sm-2" type="button" data-toggle="modal" data-target="#startFundraiser"style="color:white;width:auto;">New fundraiser</button>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-2x"></i> </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('edit')}}">Edit</a>
            <div class="dropdown-divider"></div><a class="dropdown-item" href="{{ url_for('logout')}}">Logout</a>
          </div>
        </li>
      </ul>
      </div>
    </nav>
    <div class="modal fade" id="startFundraiser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="text-align:center;">Start a fundraiser</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                  <form id="startfundraiser">
                      <select id="fundraise_type" required>
                            <option disabled selected>Type of Fundraiser</option>
                            <option value="Medical Treatment">Medical Treatment</option>
                            <option value="NGO/Charity">NGO/Charity</option>
                            <option value="others">Other Cause</option>  
                      </select><br><br>
                      <input type="text" id="fundraise_name" placeholder="Name of FundRaiser" required><br><br>
                      <input type="number" min="1" id="fundraise_days" placeholder="Estimated Days" required><br><br>
                      <input type="number" min="1"  id="fundraise_amount" placeholder="Estimated Amount" required><br><br>
                      <textarea rows="5" cols="50" id="fundraise_description" placeholder="Description of your Fundraiser" required></textarea><br><br>
                      <input type="tel" id="fundraisePhone" placeholder="Phone: 98****" pattern="[0-9]{10}" required><br><br>
                      <!-- to-do upload file -upload image only-->
                      <span>Upload image related to your Fundraiser</span> <br>
                      <input type="file" id="fundraiseImage" accept="image/*"><br><br>
                      <input type="checkbox" required><span id="agreeterms"> Agree all terms and conditions</span><br>
                      <input type="submit" name="submit" value="Start your Fundraiser">
                  </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <!-- <div class="container"> -->
      <table id="tab">
        <tr>
          <td>Full Name</td>
          <td style="width:70%; text-align: center;">{{current_user.user_fullname}}</td>
        </tr>
        <tr>
          <td>User Name</td>
          <td style="text-align: center;">{{current_user.user_username}}</td>
        </tr>
        <tr>
          <td>Email </td>
          <td style="text-align: center;">{{current_user.user_email}}</td>
        </tr>      
        <tr>
          <td>Contact</td>
          <td style="text-align: center;">{{current_user.user_phone}}</td>
        </tr>
      </table>
      <div>
        {% for n in allFundraisers %}
          <div class="container">
            <p>Name : {{ n.fundraise_name }}</p>
            <p>Type : {{ n.fundraise_type }}</p>
            <p>Days : {{ n.fundraise_days }}</p>
            <p>Amount : {{ n. fundraise_amount }}</p>
            <p>Description : {{ n.fundraise_description }}</p>
          </div>
        {% endfor %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/script2.js" charset="utf-8"></script>
  </body>